header {
    color: #C6AC8E;
    background-color: #22333B;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1{
    margin-left: 1rem;
}

nav{
    display: flex;
    justify-content: center; 
}

a{
    color: #C6AC8E;
    justify-content: center;
    padding:2rem;
    text-decoration: none;
}

a:hover{
    color: #5E503F;
    background-color: #EAE0D5;
    text-decoration: underline;
}

.hamburger {
    display: none;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
    padding: 10px;
}

.hamburger div {
    width: 30px;
    height: 3px;
    background-color: #C6AC8E;
}

.hamburger.open div:nth-child(1) {
    transform: rotate(45deg);
    position: relative;
    top: 8px;
}

.hamburger.open div:nth-child(2) {
    opacity: 0;
}

.hamburger.open div:nth-child(3) {
    transform: rotate(-45deg);
    position: relative;
    top: -8px;
}


@media screen and (max-width: 768px) {
    nav {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        right: 10px;
        background-color: #22333B;
        width: 200px;
        padding: 1rem;
        border-radius: 5px;
    }

    nav a {
        padding: 1rem;
        font-size: 1.2rem;
    }

    .hamburger {
        display: flex;
    }

    nav.active {
        display: flex;
    }

    figcaption {
        font-size: 1rem;
        color: #22333B;
        text-align: center;
    }

}


#album {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 1rem;
}

main{
    display: grid;
}

main h2 {
    text-align: center;
    color: #22333B;
}

img{
    width: 400px; height: 200px; margin: .3rem;
    image-rendering: pixelated;
}

footer{
    background-color: #22333B;
    padding: 0.3rem;
}

footer p {
    font-style: italic; 
    text-align: center;
    margin: 0.3rem;
    color: #C6AC8E;
}